/* .loader-remove{
    display: none !important;
} */

body {
    background-color: #F1F1F1 !important;
}

.medium_alike {
    padding: 24px 160px !important;
}

/* .colH {
    padding-left: 160px;
} */


.credits {
   padding-left: 604px;
}

.nf {
    padding-left: 972px;
}

